.navbar-fixed-top {
  position: fixed;
  background-color: #026aa7;
  padding: 5px;

  .nav-list {
    background-color: rgba(255,255,255,.3);
    border-radius: 5px;
    border: none;
    margin: 5px;
    a {
      color: white;
      &:hover {
        background-color: rgba(255,255,255,.2);
        color: white;
        border-radius: 5px;
        border: none;
      }
    }
  }
}

.contents {
  padding: 71px 0 0 0;
}

.task-content {
  margin: 0 auto;
  max-width: 850px;
  padding: 2px;
}

.underline {
  text-decoration: underline;
}
