.navbar-fixed-top {
  position: fixed;
  color: #fff;
  opacity: 0.6;
}

.contents {
  padding: 50px 0 0 0;
}

.task-content {
  margin: 0 auto;
  max-width: 850px;
  padding: 2pc;
}

.underline {
  text-decoration: underline;
}